@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali', Arial, Helvetica, sans-serif;
}

:root {
    --primar-color-orange : #FF7200;
    --secondary-color-orange-clair: #FFF0E3;
    --color-black : #000;
}

body{
    overflow-x:hidden;
}

/* .carousel-inner{
 left: 24rem;
} */


header{
    border-bottom: 1px solid var(--primar-color-orange);
    margin-bottom: 15px;
}

.head{
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin-bottom: 6rem;
    
}
.icons{
    width: 65px;
    padding: 22px;
}
.containerSearch input{
    margin: 20px;
}

.logo{
    height: 50px;
    margin: 10px auto 20px;
    display: block;
}
.titre{
    padding: 2rem;
}
nav{
    border-top: solid 1px var(--primar-color-orange);
}
main{
    color: #FF7200;
    text-align: center;
}

footer{
    border-top: solid 1px var(--primar-color-orange);
}

/* Page Accueil */
.card-body{
  background-color: var(--secondary-color-orange-clair);
  text-align: left;
}
#carouselSlidesOnly{
  width: 200vh;
  left: 2rem;
}
/* Page profil */
.card{
    background-color: var(--secondary-color-orange-clair);
}
.card-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/* Page Annonce */
/* Masonry container */
.masonry { 
  -webkit-column-count: 4;
  -moz-column-count:4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  /* font-size: .85em; */
}
.item {
  display: inline-block;
  background: #fff;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background: var(--secondary-color-orange-clair);
  color: var(--primar-color-orange);
  /* -webkit-transition:1s ease all; */
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc; */
}
.item img{max-width:100%;}

.img-details {
  position: relative;
}

.favorite-item {
  height: 40px;
  width: 40px;
  position:absolute;
  margin: 12px;
  top:0;
  right:0;
  color: var(--primar-color-orange);
}
.logo-profil {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.flex-card{
  display: flex;
  margin: 25px;
  gap:15px;
}

.flex-card p {
  font-size: 18px;
}

.flex-column {
  flex-direction: column;
  text-align:left;
}

.flex-column h4 {
  font-weight: bold;
}



@media only screen and (max-width: 400px) {
  .masonry {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
}

@media only screen and (min-width: 401px) and (max-width: 768px){
  .masonry {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
  .masonry {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}
@media only screen and (min-width: 1201px) {
  .masonry {
      -moz-column-count: 4;
      -webkit-column-count: 4;
      column-count: 4;
  }
}