*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primar-color-orange : #FF7200;
    --secondary-color-orange-clair: #fd811b9a;
    --color-black : #000;
}

.containerSearch{
    display: none;
}
.logo{
    height: 50px;
    margin: 10px auto 20px;
    display: block;
}
nav{
    border-top: solid 1px var(--primar-color-orange);
}